body{
    background-color: rgb(196, 3, 100);
    
}

.flex{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 2 1 auto;
    flex-grow: auto;
    flex-shrink: auto;
    padding:2%;
    margin: 1%
}

.left-column{
    border:20px solid red;
    font-size: 30px;
    padding:10%
}

.middle-column{
    padding:10%;
  
}

.right-column{
    padding:10%;
    font-size:30px;
    border:20px solid red;
}

header{
    font-size: 100px;
    font-family:cursive;
    border:20px solid rgb(251, 113, 182);
    text-align: center;
    justify-content: center;
    margin:1%
}
.homeLink{
    text-align:right;
    margin-right: 100px;
}

.Item{
  margin-left:50px;
  text-align:  center;
  font-size: x-large;
  font-family: cursive;
}
.font{
    font-family: cursive;
}