body{
    background-color: rgb(196, 3, 100);
    
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-column{
    background-image:url("https://i.ibb.co/bdpqqyd/istockphoto-1164830992-170667a.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    font-size: 30px;
    position:relative
}